<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="lilit.hakobyan.olympmathmentor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.CAMERA" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="OlympMath Mentor"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OlympMathMentor"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".SignUpActivity"
            android:exported="false" />

        <activity
            android:name=".EntryTestActivity"
            android:exported="false" />

        <activity
            android:name=".ResultActivity"
            android:exported="false" />

        <activity
            android:name=".VideoListActivity"
            android:exported="false" />

        <activity
            android:name=".BookListActivity"
            android:exported="false" />

        <activity
            android:name=".BookCategoriesActivity"
            android:exported="false" />

        <activity
            android:name=".Lesson1Activity"
            android:exported="false" />

        <activity
            android:name=".Test1Activity"
            android:exported="false" />

        <activity
            android:name=".Lesson2Activity"
            android:exported="false" />

        <activity
            android:name=".Test2Activity"
            android:exported="false" />

        <activity
            android:name=".Lesson3Activity"
            android:exported="false" />

        <activity
            android:name=".Test3Activity"
            android:exported="false" />

        <activity android:name=".Lesson4Activity"
            android:exported="false" />

        <activity android:name=".Test4Activity"
            android:exported="false" />

        <activity
            android:name=".Lesson5Activity"
            android:exported="false" />

        <activity
            android:name=".Test5Activity"
            android:exported="false" />

        <activity android:name=".Lesson6Activity"
            android:exported="false" />

        <activity android:name=".Test6Activity"
            android:exported="false" />

        <activity android:name=".Lesson7Activity"
            android:exported="false" />

        <activity android:name=".Test7Activity"
            android:exported="false" />

        <activity
            android:name=".Lesson8Activity"
            android:exported="false" />

        <activity
            android:name=".Test8Activity"
            android:exported="false" />

        <activity android:name=".Lesson9Activity"
            android:exported="false" />

        <activity android:name=".Test9Activity"
            android:exported="false" />

        <activity android:name=".Lesson10Activity"
            android:exported="false" />

        <activity android:name=".Test10Activity"
            android:exported="false" />

    </application>

</manifest>